.InventoryItemContainer {
  display: grid;
  grid-gap: 5px 5px;
  padding: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
  border: solid 1px;
  grid-template-columns: auto;
  grid-template-areas:
    'title'
    'price'
    'image'
    'description'
    'button';
}

@media only screen and (min-width: 1080px) {
  /* For desktop: */
  .InventoryItemContainer {
    grid-template-columns: auto auto;
    grid-template-areas:
    'title price'
    'image image'
    'description description'
    'button button';
  }
}

.InventoryInput.title {
  grid-area: title;
}

.InventoryInput.price {
  grid-area: price;
}

.InventoryInput.imageUrl {
  grid-area: image;
}

.InventoryInput.description {
  grid-area: description;
  min-height: 50px;
}

.InventoryInput.button {
  grid-area: button;
  cursor: pointer;
}
