.ProductListingContainer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'image title price'
    'image description description'
    'image button button';
  border: solid 1px;
  padding: 12px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
  grid-column-gap: 8px;
}

.ProductImage {
  grid-area: image;
  height: 200px;
  width: 200px;
}

.ProductLabel.title {
  grid-area: title;
}

.ProductLabel.description {
  grid-area: description;
}

.ProductLabel.price {
  grid-area: price;
}

.ProductButton {
  grid-area: button;
  cursor: pointer;
}
