.InventoryContainer {
  display: grid;
  grid-area: inventory;
  border: solid 1px;
  padding-bottom: 8px;
}

.InventoryItemContainer {
  display: grid;
  grid-gap: 5px 5px;
  padding: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
  border: solid 1px;
  grid-template-columns: auto auto;
  grid-template-areas:
    'title price'
    'image image'
    'description description'
    'button button';
}

.InventoryTitle {
  text-align: center;
}

.InventoryInput.title {
  grid-area: title;
}

.InventoryInput.price {
  grid-area: price;
}

.InventoryInput.imageUrl {
  grid-area: image;
}

.InventoryInput.description {
  grid-area: description;
  min-height: 50px;
}

.InventoryInput.button {
  grid-area: button;
}
